<nav class="navbar custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://scontent.fcuz1-1.fna.fbcdn.net/v/t39.30808-6/334046848_734367018337094_3471511292175055638_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEOhR4lzzazvcQeyZ_bsa-UAAlA48lgOf8ACUDjyWA5_1QndOs2XrLRfUBtvM8Udom6wHfnG8efoUvph_Ux7I2h&_nc_ohc=gpryBjeWWlAAX8dTftO&_nc_ht=scontent.fcuz1-1.fna&oh=00_AfD9Nn53OP4p8iIDlZxIPpAlFwoIkHVuNRj3iu8xttuJsQ&oe=64D50C91">
      <span style="font-size: 30px; color: rgb(255, 255, 255); display: inline-block; vertical-align: middle;">UNSAAC: Ep Ing. Informática y Sistemas</span>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>